<div class="blue-container">
  <h2 class="headings">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, style:"display: none;" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"forgot-password" %>
    </div>

    <div class="actions bottom-padding">
      <%= f.submit "Send me reset password instructions", class:"black-button" %>
    </div>
  <% end %>

  <div>
    <%= render "devise/shared/links", class:"btn-multi-links" %>
  </div>
</div>